/* General styling */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

section {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  flex-direction: column;
  background-image: linear-gradient(
    to top right,
    RGB(64, 61, 69),
    RGB(111, 2, 250)
  );
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sidebar component */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #270b63;
  display: flex;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  transform: translate(-100%);
  width: 300px;
  flex-direction: column;
  align-items: center;
  border-right: solid black;
  border-width: 5px;
  color: #fff;
  z-index: 99;
}

.sidebar .categories {
  order: 1;
  margin-top: 2rem;
}

.sidebar .filters {
  order: 2;
  margin-top: 2rem;
}
.sidebar .clear-filters {
  order: 3;
  margin-top: 2rem;
}

.sidebar .btn-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.sidebar .btn-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sidebar .close {
  position: absolute;
  right: 10px;
  margin: 10px;
  background-color: #7351d6;
  color: #fff;
  border: solid black;
  border-radius: 7px;
  width: 50px;
  height: 40px;
}

.sidebar .movie {
  background-color: #7351d6;
  color: #fff;
  border: solid black;
  border-radius: 10px;
  width: 7rem;
  height: 3rem;
  font-size: large;
  font-weight: bold;
}
.sidebar .series {
  background-color: #7351d6;
  color: #fff;
  border: solid black;
  border-radius: 10px;
  width: 7rem;
  height: 3rem;
  font-size: large;
  font-weight: bold;
}
.sidebar .animation {
  background-color: #7351d6;
  color: #fff;
  border: solid black;
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  font-size: large;
  font-weight: bold;
}
.sidebar .sidebar-watchlist {
  background-color: #7351d6;
  color: #fff;
  border: solid black;
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  font-size: large;
  font-weight: bold;
}
.sidebar .top-picks {
  background-color: #7351d6;
  color: #fff;
  border: solid black;
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  font-size: large;
  font-weight: bold;
}
.sidebar .btn-clear {
  background-color: #7351d6;
  color: #fff;
  border: solid black;
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  font-size: large;
  font-weight: bold;
}

.sidebar h3 {
  display: flex;
  justify-content: center;
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
}

.show-sidebar {
  transform: translate(0);
}

.hide-btn {
  visibility: hidden;
}

.shadow-buttons {
  box-shadow: 0px 5px 5px #1d084b;
}

/* Filter component */
.top-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: auto;
}

header.search-header {
  margin-bottom: 3rem;
  margin-top: 7rem;
}

header .search-bar {
  order: 2;
  margin-bottom: 3rem;
  width: 100%;
  height: 0;
}

.top-search.sidebar-open {
  margin-left: 305px;
  justify-content: flex-start;
}

header .filter-btn {
  order: 1;
  width: 15%;
}

header .filter-btn button {
  height: 40px;
  width: 6rem;
  font-size: large;
  font-weight: bold;
}

.input-field {
  color: #fff;
  background-color: #7351d6;
  border: solid black;
  border-radius: 12px;
  width: 100%;
}
input {
  height: 2rem;
  font-size: large;
  font-weight: bold;
  text-indent: 2rem;
}
::placeholder {
  color: #fff;
}

.btn-filter {
  color: #fff;
  background-color: #7351d6;
  border: solid black;
  border-radius: 12px;
}

.shadow-filter {
  box-shadow: 0px 5px 5px #441184;
}

/* Card component */

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 3rem;
  justify-content: center;
}

.movie-cards.sidebar-open {
  margin-left: 305px;
}

.movie-cards .card {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 580px;
  min-width: 395px;
  max-width: 395px;
  border: 1px solid black;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

.movie-cards .card img {
  width: 100%;
  height: 70%;
}

.movie-cards .card .card-info {
  display: flex;
  height: 30%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.movie-cards .card .card-info header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
}

.movie-cards .card .card-info header h3 {
  margin: 0;
}
.movie-cards .card .card-info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-bottom: 13px;
  margin-top: 5px;
}
.movie-cards .card .card-info .details p {
  margin: 3rem;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}

.watchlist {
  color: #fff;
  background-color: black;
  border-width: 0;
  padding: 0;
  width: 6em;
  font-size: large;
  font-family: sans-serif;
}

.details {
  display: none;
}

.movie-cards .card.hide-card {
  display: none;
}

.unfavour {
  color: #fff;
  background-color: black;
  border-width: 0;
  padding: 0;
  width: 6em;
}

.card:hover .details {
  display: flex;
  background-color: black;
  width: 395px;
  height: 580px;
  top: 0;
  left: 0;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden-btn {
  color: #fff;
  background-color: #270b63;
  border-width: 0;
  padding: 0;
  width: 9rem;
  height: 3rem;
  border-radius: 11px;
  font-size: large;
  font-family: sans-serif;
}

/* Responsive styling */

@media only screen and (max-width: 850px) {
  .movie-cards {
    flex-direction: row;
  }
  header {
    width: 100%;
  }
  .movie-cards {
    align-items: center;
  }
  .movie-cards.sidebar-open {
    margin-left: 0px;
  }
  .top-search.sidebar-open {
    margin-left: 0px;
  }

  .top-search header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  header .filter-btn button {
    margin-bottom: 20px;
  }
  header .search-bar {
    width: 80%;
  }
}
